/* line 248, icon/*.png */
.icon-sprite, .icon-anchor, .icon-back, .icon-barcode, .icon-beer, .icon-bomb, .icon-box, .icon-cam, .icon-chess, .icon-circle, .icon-eye, .icon-film, .icon-hand, .icon-pimp {
  background-image: url('../img/icon-s460ba65e5d.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-anchor {
  background-position: 0 -256px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-anchor:hover, .icon-anchor.anchor-hover {
  background-position: 0 0;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-back {
  background-position: 0 -768px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-back:hover, .icon-back.back-hover {
  background-position: 0 -512px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-barcode {
  background-position: 0 -1280px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-barcode:hover, .icon-barcode.barcode-hover {
  background-position: 0 -1024px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-beer {
  background-position: 0 -1792px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-beer:hover, .icon-beer.beer-hover {
  background-position: 0 -1536px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-bomb {
  background-position: 0 -2304px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-bomb:hover, .icon-bomb.bomb-hover {
  background-position: 0 -2048px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-box {
  background-position: 0 -2816px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-box:hover, .icon-box.box-hover {
  background-position: 0 -2560px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cam {
  background-position: 0 -3328px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-cam:hover, .icon-cam.cam-hover {
  background-position: 0 -3072px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-chess {
  background-position: 0 -3840px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-chess:hover, .icon-chess.chess-hover {
  background-position: 0 -3584px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-circle {
  background-position: 0 -4352px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-circle:hover, .icon-circle.circle-hover {
  background-position: 0 -4096px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-eye {
  background-position: 0 -4864px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-eye:hover, .icon-eye.eye-hover {
  background-position: 0 -4608px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-film {
  background-position: 0 -5376px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-film:hover, .icon-film.film-hover {
  background-position: 0 -5120px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-hand {
  background-position: 0 -5888px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-hand:hover, .icon-hand.hand-hover {
  background-position: 0 -5632px;
}

/* line 84, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pimp {
  background-position: 0 -6400px;
}
/* line 59, ../../../../../../Library/Ruby/Gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icon-pimp:hover, .icon-pimp.pimp-hover {
  background-position: 0 -6144px;
}

/* line 4, ../scss/_base.scss */
li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
/* line 8, ../scss/_base.scss */
li a {
  display: inline-block;
  width: 256px;
  height: 256px;
}
/* line 12, ../scss/_base.scss */
li a span {
  position: absolute;
  top: -9999em;
  left: -9999em;
}

/* line 19, ../scss/_base.scss */
.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

/* line 24, ../scss/_base.scss */
h1 {
  margin-top: 100px;
  font-size: 60px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: white;
  text-decoration: underline;
  font-style: italic;
  margin-bottom: 0px;
  animation: friggem .1s infinite;
}

/* line 39, ../scss/_base.scss */
h2 {
  padding-top: 0px;
  margin-top: 0px;
  font-size: 25px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: white;
  animation: friggem .1s infinite;
}

/* line 54, ../scss/_base.scss */
html {
  background-color: #131313;
  animation: fuckemup .1s infinite;
}

@keyframes fuckemup {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}
@keyframes friggem {
  0% {
    color: black;
  }
  100% {
    color: white;
  }
}
