/* line 1, ../scss/_base.scss */
html {
  background-color: white;
}

/* line 4, ../scss/_base.scss */
.invisible {
  display: none;
}

/* line 7, ../scss/_base.scss */
nav {
  list-style: none;
  margin-top: -85px;
  padding-top: -40px;
  padding: 0;
  text-align: right;
}

/* line 14, ../scss/_base.scss */
nav li {
  display: inline;
  text-decoration: none;
  font-family: Arial;
  font-style: italic;
  font-weight: 900;
  color: black;
}

/* line 22, ../scss/_base.scss */
nav a {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
}

/* line 31, ../scss/_base.scss */
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 7px;
  left: 0%;
  position: relative;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

/* line 43, ../scss/_base.scss */
a:hover:after {
  width: 100%;
  left: 0%;
}

/* line 47, ../scss/_base.scss */
header {
  max-width: 120px;
  margin-left: 0;
  margin-right: auto;
  margin-bottom: 20px;
}

/* line 54, ../scss/_base.scss */
.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/* line 65, ../scss/_base.scss */
.site {
  margin-top: 20px;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

/* line 72, ../scss/_base.scss */
h1 {
  color: black;
  font-family: Arial;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  text-align: center;
}

/* line 81, ../scss/_base.scss */
main {
  background-color: white;
}
